<%= form_with(model: itaqntesmt, local: true) do |form| %>
  <% if itaqntesmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itaqntesmt.errors.count, "error") %> prohibited this itaqntesmt from being saved:</h2>

      <ul>
      <% itaqntesmt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>

    <% if @sel_store_id == nil || @sel_store_id == 0 %>
      <tr class="field">
        <td><%= form.label :store_id %></td>
        <td><%= form.text_field :store_id %></td>
      </tr>
    <% else %>
      <tr class="field">
          <td><%= form.label :store_id %></td>
          <td><%= @itaqntesmt.store.storename%></td>
          <td><%= form.hidden_field :store_id %></td>
      </tr>
    <% end %>

    <tr class="field">
      <td><%= form.label :dtype_id %></td>
      <% s_dtype = {} %>
      <% @dtypes.each do |d| %>
          <% s_dtype[d.dtype] = d.id %>
      <% end %>
      <td><%= form.select :dtype_id, s_dtype %></td>
    </tr>
    <tr class="field">
        <td>예상수량</td>
        <td><%= form.number_field :qntesmt %></td>
    </tr>
    <tr class="actions">
       <td> <%= form.submit %></td>
    </tr>
  </table>
  </br>
<% end %>
