<%= form_with(model: itaqntesmt, local: true) do |form| %>
  <% if itaqntesmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itaqntesmt.errors.count, "error") %> prohibited this itaqntesmt from being saved:</h2>

      <ul>
      <% itaqntesmt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>

    <% if @itaqntesmt.store_id == nil  %>
      <tr class="field">
        <td><%= form.label :store_id %></td>
        <td><%= form.text_field :store_id %></td>
      </tr>
    <% else %>
      <tr class="field">
          <td><%= form.label :store_id %></td>
          <td><%= @itaqntesmt.store.storename%></td>
          <td><%= form.hidden_field :store_id %></td>
      </tr>
    <% end %>

    <% if @itaqntesmt.dtype_id != nil   %>
      <tr class="field">
        <td><%= form.label :dtype_id %></td>
        <td><%= @itaqntesmt.dtype.dtype %></td>
        <td><%= form.hidden_field :dtype_id %></td>
      </tr>
    <% else %>
        <% s_dtype ={} %>
        <% @dtypes.each {|d| s_dtype[d.dtype] = d.id} %>
        <td><%= form.label :dtype_id %></td>
        <td><%= form.select :dtype_id, s_dtype %></td>
    <% end %>

    <tr class="field">
        <td>예상수량</td>
        <td><%= form.number_field :qntesmt %></td>
    </tr>
    <tr class="actions">
       <td> <%= form.submit %></td>
    </tr>
  </table>
  </br>
<% end %>
