<p id="notice"><%= notice %></p>

<h1>예상수량</h1>

<div class="well">
    <%= form_tag "/itaqntesmts/index",  method: "post" do %>
        Store name :  
        <input type="text"   name="storename" >
        <input type="submit" value="Store search"> 
    <% end  %>
    </br>
    <% regist_cnt = 0 %>
    
    <% regist_cnt = @itaqntesmts.count %>
 
    <p>
      Registered esmtqnt count : <%= regist_cnt %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% unless @sel_stores == nil %>
         Select-where : <%= @sel_storename %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to '매장/부서', stores_path, class: 'btn btn-default' %> 
      <%= link_to "자산명세표-전체", itassets_path, class: 'btn btn-default' %> 
      <%= link_to "자산등록현황-전체", '/stores/itaallstore', class: 'btn btn-default' %> 
      <%= link_to 'Home', '/', class: 'btn btn-default'%> 
    </p> 
</div>

<table class="table">
  <thead class="well">
    <tr>
      <th class="col-md-2">Store</th>
      <th class="col-md-1">Dtype</th>
      <th class="col-md-1">Qntesmt</th>
      <th class="col-md-1"colspan="3"></th>
      <th class="col-md-7"colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <% @itaqntesmts.each do |itaqntesmt| %>
        <tr>
          <td><%= link_to itaqntesmt.store.storename , "/itaqntesmts/#{itaqntesmt.store.storename}/index" %></td>
          <td><%= itaqntesmt.dtype.dtype %></td>
          <td  align="center"><%= itaqntesmt.qntesmt %></td>
          <td><%= link_to 'Show', itaqntesmt %></td>
          <td><%= link_to 'Edit', edit_itaqntesmt_path(itaqntesmt) %></td>
          <td><%= link_to 'Destroy', itaqntesmt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

  </tbody>
</table>

<br>

<%#= link_to '예상수량등록', new_itaqntesmt_path, class: 'btn btn-default' %>
