<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @itaqntesmt.store.storename %>
</p>

<p>
  <strong>Dtype:</strong>
  <%= @itaqntesmt.dtype.dtype %>
</p>

<p>
  <strong>Qntesmt:</strong>
  <%= @itaqntesmt.qntesmt %>
</p>

<%= link_to 'Edit', edit_itaqntesmt_path(@itaqntesmt) %> |
<%= link_to 'Back', itaqntesmts_path %>
