<p id="notice"><%= notice %></p>

<p>
  <strong>Mgmtno:</strong>
  <%= @assetlist.mgmtno %>
</p>

<p>
  <strong>Store:</strong>
  <%= @assetlist.store %>
</p>

<p>
  <strong>Username:</strong>
  <%= @assetlist.username %>
</p>

<p>
  <strong>Devicetype:</strong>
  <%= @assetlist.devicetype %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @assetlist.purpose %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @assetlist.manufacture %>
</p>

<p>
  <strong>Modelno:</strong>
  <%= @assetlist.modelno %>
</p>

<p>
  <strong>Serialno:</strong>
  <%= @assetlist.serialno %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assetlist.description %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @assetlist.ram %>
</p>

<p>
  <strong>Disk:</strong>
  <%= @assetlist.disk %>
</p>

<p>
  <strong>Os:</strong>
  <%= @assetlist.os %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @assetlist.hostname %>
</p>

<p>
  <strong>Ipaddr:</strong>
  <%= @assetlist.ipaddr %>
</p>

<p>
  <strong>Gateway:</strong>
  <%= @assetlist.gateway %>
</p>

<p>
  <strong>Mac wire:</strong>
  <%= @assetlist.mac_wire %>
</p>

<p>
  <strong>Mac wireless:</strong>
  <%= @assetlist.mac_wireless %>
</p>

<p>
  <strong>Date buy:</strong>
  <%= @assetlist.date_buy %>
</p>

<p>
  <strong>Date produce:</strong>
  <%= @assetlist.date_produce %>
</p>

<p>
  <strong>Amt buy:</strong>
  <%= @assetlist.amt_buy %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @assetlist.remarks %>
</p>

<%= link_to 'Edit', edit_assetlist_path(@assetlist) %> |
<%= link_to 'Back', assetlists_path %>
