<p id="notice"><%= notice %></p>

<h1> ① 매장 / 부서</h1>  
<div class="well">
    <%= form_tag "/stores/search", method: "post" do %>
        매장(부서)명 :  
        <input type="text"   name="storename" >
        <input type="submit" value="Store search"> 
    <% end  %>
    </br>
    <p>
      등록된 매장/부서 수 : <%= @stores.count %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to '매장/부서 등록', new_store_path, class: 'btn btn-default' %> 
      <%= link_to 'Home', '/', class: 'btn btn-default'%> |
      <%= link_to "자산명세표-전체", itassets_path %> |
      <%= link_to "자산수량현황-전체", '/stores/itaallstore' %> |

      
    </p> 
</div>
<h3>***** 매장별 등록 현황을 조회하려면 storename을 클릭하여 주십시오.</h3>

<table class="table">
  <thead>
    <tr>
      <th>S_id</th>
      <th>Group</th>
      <th>Storecode</th>
      <th>Store ab</th>
      <th>Storename ①</th>
      <th>Extension</th>
      <th>Address</th>
      <th>Telno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= store.group %></td>
        <td><%= store.storecode %></td>
        <td><%= store.store_ab %></td>
        <td><%= link_to store.storename, "/itassets/itaps/#{store.id}" %> </td-->
        <!--td><%= link_to store.storename, "/itassets/search/#{store.id}" %> </td-->
        <td><%= store.extension %></td>
        <td><%= store.address %></td>
        <td><%= store.telno %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stores, renderer: BootstrapPagination::Rails,  previous_label: "Previous", next_label: "Newer", inner_window: 1, outer_windows: 0 %>


<br>

<%= link_to 'New Store', new_store_path, class: 'btn btn-default' %>
