<p id="notice"><%= notice %></p>

<h1> ① 매장 / 부서</h1>  
<div class="well">
    <%= form_tag "/stores/index/storename", method: "get" do %>
        매장(부서)명 :  
        <input type="text"   name="storename" >
        <input type="submit" value="Store search"> 
    <% end  %>
    </br>
    <p>
    <% if @sel_storename == nil%>
        등록된 매장/부서 수 : <%= @stores.count %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% else %>
        Selected store count : <%= @stores.count %> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Selected-where :  " <%= @sel_storename %> "
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
    <% end %>
      <%= link_to '매장/부서 등록', new_store_path, class: 'btn btn-default btn-sm' %> 
      <%= link_to 'Home', '/', class: 'btn btn-default btn-sm'%> |
      <%= link_to "자산명세표-전체", itassets_path %> |
      <%= link_to "자산수량현황-전체", '/stores/itaallstore' %>    
    </p> 
</div>
<p>*** 매장별 등록 현황  조회 : <span class="bg-primary text-white">"매장명" 클릭</span> ***</p>

<table class="table">
  <thead>
    <tr>
      <th>S_id</th>
      <th>Group</th>
      <th>Storecode</th>
      <th>Store ab</th>
      <th>Store name ①</th>
      <th colspan="3">select list</th>
      <th>Extension</th>
      <th>Address</th>
      <th>Telno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= store.group %></td>
        <td><%= store.storecode %></td>
        <td><%= store.store_ab %></td>
        <td><%= link_to store.storename, "/itassets/itaps/#{store.id}" %> </td-->
        <td><%= link_to "수량", "/itassets/itaps/#{store.id}" , class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to "자산",  "/itassets/index/#{store.id}", class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to "회선",  "/isps/#{store.id}/index", class: 'btn btn-default btn-sm'%></td>
        <td><%= store.extension %></td>
        <td><%= store.address %></td>
        <td><%= store.telno %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stores, renderer: BootstrapPagination::Rails,  previous_label: "Previous", next_label: "Newer", inner_window: 1, outer_windows: 0 %>


<br>

<%= link_to '매장/부서 등록', new_store_path, class: 'btn btn-default  btn-sm' %>
