<p id="notice"><%= notice %></p>

<h1>Assets - ALL</h1>

<div class="well">
  <p>Registered Asset count : <%= @itassets.count %>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'New Assetlist', new_itasset_path %> |
  <%= link_to "Stores", stores_path%></p>
</div>


<table class="table" >
  <thead class="well">
    <tr>
      <th>Mgmtno</th>
      <th width ="30" >Store_name</th>
      <th>Username</th>
      <th>Place to use</th>
      <th>Device type</th>
      <th>Purpose</th>
      <th>Manufacture</th>
      <th>Modelno</th>
      <th>Serialno</th>
      <th>Cpu speed</th>
      <th>Ram size</th>
      <th>Disk size</th>
      <th>Os</th>
      <th>Host name</th>
      <th>Ipaddr</th>
      <th>Gwaddr</th>
      <th>Macwire</th>
      <th>Macwireless</th>
      <th>Date purchase</th>
      <th>Date produce</th>
      <th>Amtpurchase</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itassets.each do |itasset| %>
      <tr>
        <td><%= itasset.mgmtno %></td>
        <td><%= link_to itasset.store.storename, "/itassets/search/#{itasset.store_id}" %></td>
        <td><%= itasset.username %></td>
        <td><%= itasset.placetouse %></td>
        <td><%= itasset.devicetype %></td>
        <td><%= itasset.purpose %></td>
        <td><%= itasset.manufacture %></td>
        <td><%= itasset.modelno %></td>
        <td><%= itasset.serialno %></td>
        <td><%= itasset.cpuspeed %></td>
        <td><%= itasset.ramsize %></td>
        <td><%= itasset.disksize %></td>
        <td><%= itasset.os %></td>
        <td><%= itasset.hostname %></td>
        <td><%= itasset.ipaddr %></td>
        <td><%= itasset.gwaddr %></td>
        <td><%= itasset.macwire %></td>
        <td><%= itasset.macwireless %></td>
        <td><%= itasset.date_purchase %></td>
        <td><%= itasset.date_produce %></td>
        <td><%= itasset.amtpurchase %></td>
        <td><%= itasset.remarks %></td>
        <td><%= link_to 'Show', itasset %></td>
        <td><%= link_to 'Edit', edit_itasset_path(itasset) %></td>
        <td><%= link_to 'Destroy', itasset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @itassets, renderer: BootstrapPagination::Rails,  previous_label: "Previous", next_label: "Newer", inner_window: 1, outer_windows: 0 %>

<br>

<%= link_to 'New Itasset', new_itasset_path %>
