<h3 id="notice"><%= notice %></h3>

<h1>자산명세표 - <%= @sel_storename %></h1>

<% if @itassets.count > 0 %>
  <div class="well">
      <p>Registered Asset count : <%= @itassets.count %>대  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        order by : "<%= @orderkey %>"
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        매장명 : <%= @sel_storename%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <% if @sel_store_id != 0 %>
            <%= link_to '자산등록③', "/itassets/new/#{@sel_store_id}", class: 'btn btn-default btn-sm' %>
            <%= link_to "자산등록현황@", "/itassets/itaps/#{@sel_store_id}",  class: 'btn btn-default btn-sm'%>        
            <%= link_to "예상수량등록②", "/itaqntesmts/#{@sel_store_id}/new", class: 'btn btn-default btn-sm btn-sm'%>   
        <%else%>
            <%= link_to "자산등록현황", "/itassets/itaps/#{@sel_store_id}", class: 'btn btn-default btn-sm' %>     
            <%= link_to "예상수량", itaqntesmts_path, class: 'btn btn-default btn-sm' %>   
        <%end%>

        <%= link_to "매장/부서", stores_path, class: 'btn btn-default btn-sm' %> 
        <%= link_to 'Home', '/', class: 'btn btn-default btn-sm'%> 
      </p>
  </div>
  <p>*** 매장별 자산등록 현황 조회 :  <span class="bg-primary text-white">"매장명" 클릭</span> *** </p>
  <table class="table">
    <thead class="well">
      <tr>
        <th class="col-md-1" colspan="3"></th>
        <th><%= link_to "Mgmtno",       "/itassets/index/#{@sel_store_id}/mgmtno",class: "col-md-2"%></th>
        <th><%= link_to "StoreName",       "/itassets/index/#{@sel_store_id}/store_id", class: "col-md-5" %></th>
        <th><%= link_to "Username",     "/itassets/index/#{@sel_store_id}/username", class: "col-md-1"%></th>
        <th><%= link_to "Place to use", "/itassets/index/#{@sel_store_id}/placetouse", class: "col-md-1"%></th>
        <th><%= link_to "Dtype",        "/itassets/index/#{@sel_store_id}/dtype_id", class: "col-md-1"%></th>
        <th><%= link_to "Device type",  "/itassets/index/#{@sel_store_id}/devicetype", class: "col-md-1"%></th>
        <th class="col-md-1">Purpose</th>
        <th><%= link_to "Manufacture",  "/itassets/index/#{@sel_store_id}/manufacture", class: "col-md-1"%></th>
        <th><%= link_to "Modelno",      "/itassets/index/#{@sel_store_id}/modelno", class: "col-md-1" %></th>
        <th class="col-md-1">Serialno</th>
        <th class="col-md-1">Cpu speed</th>
        <th class="col-md-1">Ram size</th>
        <th class="col-md-1">Disk size</th>
        <th><%= link_to "Os",            "/itassets/index/#{@sel_store_id}/os", class: "col-md-1"%></th>
        <th class="col-md-1">Host name</th>
        <th class="col-md-1">Ipaddr</th>
        <th class="col-md-1">Gwaddr</th>
        <th class="col-md-1">Macwire</th>
        <th class="col-md-1">Macwireless</th>
        <th class="col-md-2">DatePurchase</th>
        <th class="col-md-2">DateProduce</th>
        <th class="col-md-1">Amt purchase</th>
        <th class="col-md-1">Remarks</th>
      </tr>
    </thead>

    <tbody>
      <% @itassets.each do |itasset| %>
        <tr>
          <td><%= link_to 'Show', itasset %></td>
          <td><%= link_to 'Edit', edit_itasset_path(itasset) %></td>
          <td><%= link_to 'Delete', itasset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= itasset.mgmtno %></td>
          <td><%= link_to itasset.store.storename, "/itassets/index/#{itasset.store_id}" %></td>
          <td><%= itasset.username %></td>
          <td><%= itasset.placetouse %></td>
          <td><%= itasset.dtype.dtype %></td>
          <td><%= itasset.devicetype %></td>
          <td><%= itasset.purpose %></td>
          <td><%= itasset.manufacture %></td>
          <td><%= itasset.modelno %></td>
          <td><%= itasset.serialno %></td>
          <td><%= itasset.cpuspeed %></td>
          <td><%= itasset.ramsize %></td>
          <td><%= itasset.disksize %></td>
          <td><%= itasset.os %></td>
          <td><%= itasset.hostname %></td>
          <td><%= itasset.ipaddr %></td>
          <td><%= itasset.gwaddr %></td>
          <td><%= itasset.macwire %></td>
          <td><%= itasset.macwireless %></td>
          <td><%= itasset.date_purchase %></td>
          <td><%= itasset.date_produce %></td>
          <td align="right"><%= ActiveSupport::NumberHelper.number_to_delimited(itasset.amtpurchase) %></td>
          <td><%= itasset.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%else%>

  <% message = "There is no asset registered in the selected store 
      : #{@sel_storename} (click here to return) " %>
  <%= link_to message, stores_path %>

<%end%>

<%= will_paginate @itassets, renderer: BootstrapPagination::Rails,  previous_label: "Previous", next_label: "Newer", inner_window: 1, outer_windows: 0 %>


<% if @sel_store_id != 0 %>
  <%= link_to '자산등록③', "/itassets/new/#{@sel_store_id}", class: 'btn btn-default btn-sm' %>
<% end %>