<p id="notice"><%= notice %></p>

<h1>Assets - <%= @sel_storename  %> </h1>
             
<div class="well">
  <p>Registered Asset count : <%= @itassets.count %>  
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'New Asset', new_itasset_path, class: 'btn btn-default' %> |
    <%= link_to "Stores", stores_path, class: 'btn btn-default' %> |
    <%= link_to "to be update", '/itassets/itaps', class: 'btn btn-default'  %> |
    <%= link_to 'Home', '/', class: 'btn btn-default'%> 
  </p>
</div>

<table class="table" >
  <thead class="well">
    <tr>
      <th>Device type</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
      <% count = {} %>
      <% @itassets.each do |i| %>
          <% dtype = i.dtype.dtype %>
          <% if count[dtype] == nil %>
                <% count[dtype] = 1 %>
          <% else %>
                <% count[dtype]  = count[dtype]  + 1 %>
          <% end %>
      <% end %>  
      <% total = 0 %>
      <% count.each do |c| %>
          <% total  = total + c[1] %>
          <tr>
            <td class="col-md-1"><%= c[0] %></td>
            <td class="col-md-1"><%= c[1] %></td>
          </tr>
          <% end %> 
          </tr>
            <td class="col-md-1"> TOTAL </td>
            <td class="col-md-1"><%= total %>
          </tr>
    </tr>
  </tbody>
</table>

<%= link_to '  Back to All assets list', itassets_path %>   
<% if @sel_storename != "ALL" %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Back to ' + @sel_storename  + ' IT asset list', "/itassets/search/#{@itassets.first.store_id} " %>
<% end %>
