<p id="notice"><%= notice %></p>

<h1>Assets - <%= @sel_storename  %> </h1>
             
<div class="well">
  <p>Registered Asset count : <%= @itassets.count %>  
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%#= link_to '자산등록', new_itasset_path, class: 'btn btn-default' %> 
    <%= link_to '자산등록', "/itassets/newss/#{@itassets.first.store_id}", class: 'btn btn-default' %> 
    
    <%= link_to "Stores", stores_path, class: 'btn btn-default' %> 
    <%= link_to "to be update", '/itassets/itaps', class: 'btn btn-default'  %> 
    
    <%= link_to 'Home', '/', class: 'btn btn-default'%> 
  </p>
</div>

<table class="table" >
  <thead class="well">
    <tr>
      <th class="col-md-1">Device type</th>
      <th class="col-md-1">Quantity</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  <tbody>
      <% count = {}%>
      <% total = 0 %>
      <% @dtypes.each   { |d| count[d.dtype] = 0 }%>      
      <% @itassets.each do |i| %>
          <% dtype = i.dtype.dtype %>
          <% count[dtype]  = count[dtype]  + 1 %>
          <% total = total + 1 %>
      <% end %>  
      
      <% count.each do | ck, cq | %>
          <tr>
            <td><%= ck %></td>
            <td align="center"><%= cq %></td>
          </tr>
      <% end %> 
      <tr>
        <td> TOTAL </td>
        <td align="center"><%= total %>
      </tr>
    
  </tbody>
</table>

<%= link_to '  Back to All assets list', itassets_path %>   
<% if @sel_storename != "ALL" %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Back to ' + @sel_storename  + ' IT asset list', "/itassets/search/#{@itassets.first.store_id} " %>
<% end %>