<p id="notice"><%= notice %></p>

<h1>Assets - <%= @sel_storename  %> </h1>
             
<div class="well">
    <p>Registered Asset count : <%= @itassets.count %>  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'New Asset', new_itasset_path, class: 'btn btn-default' %> |
      <%= link_to "Stores", stores_path, class: 'btn btn-default' %> |
      <%= link_to "to be update", '/itassets/itaps', class: 'btn btn-default'  %> |
      <%= link_to 'Home', '/', class: 'btn btn-default'%> 
    </p>
</div>