</br>
<p id="notice"><%= notice %></p>

<h1> ② 자산등록현황 - <%= @sel_storename  %> </h1>

<%# if @itassets.count == 0 %>

<div class="well">
  <p>Registered Asset count : <%= @itassets.count %>대 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    예상수량등록장비 : <%= @itaqntesmts.count%>가지
    </br>
    </br>
    <%#= link_to '자산등록', new_itasset_path, class: 'btn btn-default  btn-sm' %> 
    <% if @sel_store_id != 0%>
      <%= link_to "예상자산등록②", "/itaqntesmts/#{@sel_store_id}/new", class: 'btn btn-default btn-sm' %> 
      <%= link_to "자산등록③ ", 
            "/itassets/new/#{@sel_store_id}", class: 'btn btn-default btn-sm' %> 
      <%= link_to "자산명세표@", "/itassets/index/#{@sel_store_id}", class: 'btn btn-default btn-sm'  %> 
        <%# 예상자산등록 작성 필요함 "/itaqntesmts/:store_id/new"%>
    <% else %>
      <%= link_to "자산명세표",itassets_path, class: 'btn btn-default  btn-sm'  %> 
    <% end %>

    <%= link_to "매장/부서", stores_path, class: 'btn btn-default btn-sm' %> 
 
    <%= link_to 'Home', '/', class: 'btn btn-default btn-sm'%> 
  </p>
</div>

<p><span class="bg-primary text-white">*** 예상수량 수정 : 숫자 또는 상단의 "예상자산등록②" 클릭 ***</span></p>


<div class="row well" >
      <div class="col-md-2">Device type</div>
      <div class="col-md-1" align="center">실사 수량</div>
      <div class="col-md-1" align="center">예상 수량</div>
      <div class="col-md-1" align="center">차이</div>
</div>


<% count = {}%>
<% total = 0 %>
<% esmtcnt = {}%> 
<% esmttot = 0 %> 
<% esmtid = {}%>
<% @dtypes.each   { |d| count[d.id] = 0 ; esmtcnt[d.id] = 0} %>      
<% @itassets.each do |i| %>
    <% dtype = i.dtype_id %>
    <% count[dtype]  = count[dtype]  + 1 %>
    <% total = total + 1 %>
<% end %> 
<% @itaqntesmts.each do |q| %>
    <% esmtcnt[q.dtype_id] = esmtcnt[q.dtype_id] + q.qntesmt %>
    <% esmtid[q.dtype_id] = q.id%>
    <% esmttot = esmttot +  q.qntesmt %>
<% end %>

<% esmtcnt.each  { | edtype, eqnt | esmtcnt[edtype] = "-"  if eqnt == 0 } %>

<% count.each do | c_dtype, c_qnt | %>
    <div class="row">
        <div class="col-md-2"><%= @dtypes.find(c_dtype).dtype %></div>
        <div class="col-md-1" align="center"><%= c_qnt %></div>

        <% if esmtcnt[c_dtype] == "-" %>
          <div class="col-md-1" align="center"><%= link_to esmtcnt[c_dtype], "/itaqntesmts/#{@sel_store_id}/#{c_dtype}/new" %></div>  
        <% else %>
          <div class="col-md-1" align="center"><%= link_to esmtcnt[c_dtype], "/itaqntesmts/#{esmtid[c_dtype]}/edit" %></div>  
        <% end %>

        <div class="col-md-1" align="center"><%= c_qnt - esmtcnt[c_dtype].to_i %></div>
      </div>
<% end %> 
</br>
<div class="row well">
  <div class="col-md-2"> TOTAL </div>
  <div class="col-md-1" align="center"><%= total %> </div>
  <div class="col-md-1" align="center"><%= esmttot %></div>
  <div class="col-md-1" align="center"><%= total - esmttot %></div>
</div>






<%= link_to '자산명세표-전체', itassets_path %>   
<% if  @sel_storename != "ALL" && @itassets.count != 0 %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Back to ' + @sel_storename  + ' 명세표', "/itassets/index/#{@itassets.first.store_id} " %>
<% end %>
