</br>
<%= link_to 'Back', itassets_path %>


<h1>IT자산 신규 등록</h1>

<% if @itasset.store_id != nil && @itasset.store_id != 0 %>
    <h2><%= @itasset.store.storename  %> </h2>
<%end%>

<%= render 'form', itasset: @itasset %>

<%= link_to '자산명세표-전체', itassets_path %> | 

<%= link_to "Back to #{@itasset.store.storename} 명세표",  "/itassets/index/#{@itasset.store_id}" %>