<p id="notice"><%= notice %></p>

<h1>Assets - <%=@sel_storename %> </h1>

<% if @itassets.count == 0 %>
    <% message = "There is no asset registered in the selected store
       : #{@sel_storename} (click here to return)" %>
    <%= link_to message, stores_path %>

<% else %>

    <div class="well">
    <p>Registered Asset count : <%= @itassets.count %>  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    order by : <%= @orderkey %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'New Itasset-this store', "/itassets/newss/#{@itassets.first.store_id}", class: 'btn btn-default' %> |
    <%= link_to 'Assetlist - ALL', itassets_path, class: 'btn btn-default' %> |
    <%= link_to "Stores List", stores_path, class: 'btn btn-default' %></p>
    </div>


    <table class="table" >
    <thead class="well">
        <tr>
            <th colspan="3"></th>
            <th><%= link_to "Mgmtno",       "/itassets/search/#{@itassets.first.store_id}/mgmtno" %></th>
            <th>Storename</th>
            <th><%= link_to "Username",     "/itassets/search/#{@itassets.first.store_id}/username" %></th>
            <th><%= link_to "Place_to_use", "/itassets/search/#{@itassets.first.store_id}/placetouse" %></th>
            <th><%= link_to "Device type",  "/itassets/search/#{@itassets.first.store_id}/devicetype" %></th>
            <th>Purpose</th>
            <th><%= link_to "Manufacture",  "/itassets/search/#{@itassets.first.store_id}/manufacture" %></th>
            <th><%= link_to "Modelno",      "/itassets/search/#{@itassets.first.store_id}/modelno" %></th>
            <th>Serialno</th>
            <th>Cpu speed</th>
            <th>Ram size</th>
            <th>Disk size</th>
            <th><%= link_to "Os",           "/itassets/search/#{@itassets.first.store_id}/os" %></th>
            <th>Host name</th>
            <th>Ipaddr</th>
            <th>Gwaddr</th>
            <th>Macwire</th>
            <th>Macwireless</th>
            <th>Date purchase</th>
            <th>Date produce</th>
            <th>Amtpurchase</th>
            <th>Remarks</th>
        </tr>
    </thead>

    <tbody>
        <% @itassets.each do |itasset| %>
        <tr>
            <td><%= link_to 'Show', itasset %></td>
            <td><%= link_to 'Edit', edit_itasset_path(itasset) %></td>
            <td><%= link_to 'Delete', itasset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= itasset.mgmtno %></td>
            <td><%= itasset.store.storename %></td>
            <td><%= itasset.username %></td>
            <td><%= itasset.placetouse %></td>
            <td><%= itasset.devicetype %></td>
            <td><%= itasset.purpose %></td>
            <td><%= itasset.manufacture %></td>
            <td><%= itasset.modelno %></td>
            <td><%= itasset.serialno %></td>
            <td><%= itasset.cpuspeed %></td>
            <td><%= itasset.ramsize %></td>
            <td><%= itasset.disksize %></td>
            <td><%= itasset.os %></td>
            <td><%= itasset.hostname %></td>
            <td><%= itasset.ipaddr %></td>
            <td><%= itasset.gwaddr %></td>
            <td><%= itasset.macwire %></td>
            <td><%= itasset.macwireless %></td>
            <td><%= itasset.date_purchase %></td>
            <td><%= itasset.date_produce %></td>
            <td><%= itasset.amtpurchase %> </td>           
            <td><%= itasset.remarks %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <%= will_paginate @itassets, renderer: BootstrapPagination::Rails,  previous_label: "Previous", next_label: "Newer", inner_window: 1, outer_windows: 0 %>

    <br>

    <%= link_to 'New Itasset - this store', "/itassets/newss/#{@itassets.first.store_id}", class: 'btn btn-default'  %>
<% end %>