<p id="notice"><%= notice %></p>

</br>
<table calss="table">
  <tr>
    <td> <strong>Store:</strong> </td>
    <td> <%= @itasset.store.storename %></td>
  </tr>

  <tr>
    <td><strong>Mgmtno:</strong></td>
    <td><%= @itasset.mgmtno %></td>
  </tr>

  <tr>
    <td><strong>Username:</strong></td>
    <td><%= @itasset.username %></td>
  </tr>

  <tr>
    <td><strong>Placetouse:</strong></td>
    <td><%= @itasset.placetouse %></td>
  </tr>

  <tr>
    <td><strong>Dtype:</strong></td>
    <td><%= @itasset.dtype.dtype %></td>
  </tr>

  <tr>
    <td><strong>Devicetype:</strong></td>
    <td><%= @itasset.devicetype %></td>
  </tr>

  <tr>
    <td><strong>Purpose:</strong></td>
    <td><%= @itasset.purpose %></td>
  </tr>

  <tr>
    <td><strong>Manufacture:</strong></td>
    <td><%= @itasset.manufacture %></td>
  </tr>

  <tr>
    <td><strong>Modelno:</strong></td>
    <td><%= @itasset.modelno %></td>
  </tr>

  <tr>
    <td><strong>Serialno:</strong></td>
    <td><%= @itasset.serialno %></td>
  </tr>

  <tr>
    <td><strong>Cpuspeed:</strong></td>
    <td><%= @itasset.cpuspeed %></td>
  </tr>

  <tr>
    <td><strong>Ramsize:</strong></td>
    <td><%= @itasset.ramsize %></td>
  </tr>

  <tr>
    <td><strong>Disksize:</strong></td>
    <td><%= @itasset.disksize %></td>
  </tr>

  <tr>
    <td><strong>Os:</strong></td>
    <td><%= @itasset.os %></td>
  </tr>

  <tr>
    <td><strong>Hostname:</strong></td>
    <td><%= @itasset.hostname %></td>
  </tr>

  <tr>
    <td><strong>Ipaddr:</strong></td>
    <td><%= @itasset.ipaddr %></td>
  </tr>

  <tr>
    <td><strong>Gwaddr:</strong></td>
    <td><%= @itasset.gwaddr %></td>
  </tr>

  <tr>
    <td><strong>Macwire:</strong></td>
    <td><%= @itasset.macwire %></td>
  </tr>

  <tr>
    <td><strong>Macwireless:</strong></td>
    <td><%= @itasset.macwireless %></td>
  </tr>

  <tr>
    <td><strong>Date purchase:</strong></td>
    <td><%= @itasset.date_purchase %></td>
  </tr>

  <tr>
    <td><strong>Date produce:</strong></td>
    <td><%= @itasset.date_produce %></td>
  </tr>

  <tr>
    <td><strong>Amtpurchase:</strong></td>
    <td><%= @itasset.amtpurchase %></td>
  <tr>

  <tr>
    <td><strong>Remarks:</strong></td>
    <td><%= @itasset.remarks %></td>
  </tr>
</table>
</br>
<%= link_to 'Edit', edit_itasset_path(@itasset) %>  &nbsp;&nbsp;| &nbsp;&nbsp;
<%= link_to 'Back to  자산명세표-전체', itassets_path %>  &nbsp;&nbsp;| &nbsp;&nbsp; 
<%= link_to 'Back to ' + @itasset.store.storename + ' 명세표', "/itassets/index/#{@itasset.store_id}" %>
