<p id="notice"><%= notice %></p>

<h1>Dslists</h1>
<%= @dslists.length  %>

<table>
  <thead>
    <tr>
      <th>Index no</th>
      <th>G no</th>
      <th>G year</th>
      <th>Name</th>
      <th>Company</th>
      <th>Company part</th>
      <th>Company title</th>
      <th>Company address</th>
      <th>Company tel</th>
      <th>Home address</th>
      <th>Home tel</th>
      <th>Mobile</th>
      <th>Confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
      </tr>
    

      <tr>
          <div align="center">
            <% @dslists.each do |dslist| %>
              <td><%= dslist.Index_no %></td>
              <td><%= dslist.g_no %></td>
              <td><%= dslist.g_year %></td>
              <td><%= dslist.name %></td>



            <%end %>
          </div>
      </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Dslist', new_dslist_path %>