<p id="notice"><%= notice %></p>

<p>
  <strong>Index no:</strong>
  <%= @dslist.Index_no %>
</p>

<p>
  <strong>G no:</strong>
  <%= @dslist.g_no %>
</p>

<p>
  <strong>G year:</strong>
  <%= @dslist.g_year %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dslist.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @dslist.company %>
</p>

<p>
  <strong>Company part:</strong>
  <%= @dslist.company_part %>
</p>

<p>
  <strong>Company title:</strong>
  <%= @dslist.company_title %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @dslist.company_address %>
</p>

<p>
  <strong>Company tel:</strong>
  <%= @dslist.company_tel %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @dslist.home_address %>
</p>

<p>
  <strong>Home tel:</strong>
  <%= @dslist.home_tel %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @dslist.mobile %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @dslist.confirm %>
</p>

<%= link_to 'Edit', edit_dslist_path(@dslist) %> |
<%= link_to 'Back', dslists_path %>
