<%= form_with(model: example, local: true) do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table>
    <tr>
      <div class="field">
        <td><%= form.label :c1 %></td>
        <%# if example.c1 == nil %>
             <%# example.c1 = 99 %>
        <%# end %>
        <% unless @dtypes.exists?(example.c1) %>
        <%= example.c1 = 99 %>
        <% end %>

        <td><%= @dtypes.find(example.c1).dtype %>
        <% @dtypes.each do |f| %>
          <tr >
            <td colspan="1" align="right"> <%= form.radio_button :c1, f.id %> </td>
            <td> <%= form.label f.dtype  %> </td>
          </tr>
        <% end %>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c2 %></td>
        <td><%= form.check_box  :c2 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c3 %></td>
        <%# if example.c3 == nil %>
           <%# example.c3 = 99 %>
        <%# end %>
        <% unless @dtypes.exists?(example.c3) %>
              <%= example.c3 = 99 %>
        <% end %>

        <td><%= @dtypes.find(example.c3).dtype %>
        <% @dtypes.each do |d| %>
           <td><%= form.select :c3, @dtypes.first.dtype %></td>
        <% end %>          
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c4 %></td>
        <% s_dtype ={}%>
        <% @dtypes.each do |d|       %>
           <% s_dtype[d.dtype] = d.id %>
        <% end %>
        <!--td><%= form.search_field :c4, s_dtype %></td-->
        <td><%= form.select :c4, s_dtype %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field" >
        <td><%= form.label :c5 %></td>
        <td><%= form.search_field :c5 %></td>
        <td>  <select name="<% :c5 %>">
                <% @dtypes.each do |d|%>
                    <option value ="<%=d.id%>" > <%=d.dtype%> </option>
                <% end %>
              </select>
        </td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c6 %></td>
        <td><%= form.text_field :c6 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c7 %></td>
        <td><%= form.text_field :c7 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c8 %></td>
        <td><%= form.text_field :c8 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td><%= form.label :c9 %></td>
        <td><%= form.text_field :c9 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="actions">
        <td><%= form.submit %></td>
      </div>
      </tr>
  </table>
 
<% end %>
