<p id="notice"><%= notice %></p>

<p>
  <strong>C1:</strong>
  <%= @dtypes.find(@example.c1).dtype %>
</p>

<p>
  <strong>C2:</strong>
  <%= @example.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @example.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @example.c4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @example.c5 %>
</p>

<p>
  <strong>C6:</strong>
  <%= @example.c6 %>
</p>

<p>
  <strong>C7:</strong>
  <%= @example.c7 %>
</p>

<p>
  <strong>C8:</strong>
  <%= @example.c8 %>
</p>

<p>
  <strong>C9:</strong>
  <%= @example.c9 %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
