<p id="notice"><%= notice %></p>

<h1>Dtypes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Home', '/', class: 'btn btn-default'%></h1>
<table>
  <thead>
    <tr>
      <th>Dtype </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dtypes.each do |dtype| %>
      <tr>
        <td><%= dtype.dtype %></td>
        <td><%= link_to 'Show', dtype %></td>
        <td><%= link_to 'Edit', edit_dtype_path(dtype) %></td>
        <td><%= link_to 'Destroy', dtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dtype', new_dtype_path %>
