<p id="notice"><%= notice %></p>

<h1>Internet Service 정보</h1>


<div class="well">
    <p>Registered ISP line count : <%= @isps.count %>  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <%= link_to "매장/부서", stores_path, class: 'btn btn-default' %>
    <%= link_to "자산명세표",itassets_path, class: 'btn btn-default'  %> 
    <%= link_to "자산등록현황", "/itassets/itaps/0",
                    class: 'btn btn-default'  %>     
    <%= link_to 'Home', '/', class: 'btn btn-default'%> 
</div>


<table>
  <thead>
    <tr class="well">
      <th colspan="3"></th>
      <th>Store</th>
      <th>Telcom</th>
      <th>Lineinfo</th>
      <th>Date open</th>
      <th>Term</th>
      <th>Bandwidth</th>
      <th>Purpose</th>
      <th>Placetoinstall</th>
      <th>Remarks</th>
    </tr>
  </thead>

  <tbody>
    <% @isps.each do |isp| %>
      <tr>
        <td><%= link_to 'Show', isp %></td>
        <td><%= link_to 'Edit', edit_isp_path(isp) %></td>
        <td><%= link_to 'Destroy', isp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="col-md-2"><%= isp.store.storename %></td>
        <td class="col-md-1"><%= isp.telcom %></td>
        <td class="col-md-1"><%= isp.lineinfo %></td>
        <td class="col-md-1"><%= isp.date_open %></td>
        <td class="col-md-1"><%= isp.term %></td>
        <td class="col-md-1"><%= isp.bandwidth %></td>
        <td class="col-md-1"><%= isp.purpose %></td>
        <td class="col-md-1"><%= isp.placetoinstall %></td>
        <td class="col-md-1"><%= isp.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Isp정보신규등록', new_isp_path %>
