<p id="notice"><%= notice %></p>

<h1>I S P - <%= @sel_storename %></h1>  

<div class="well">
    <p>Registered ISP line count : <%= @isps.count %> &nbsp;&nbsp;&nbsp;  
       
    <% if @sel_store_id != nil%>
      Selected store : <%= @sel_storename%> &nbsp;&nbsp;&nbsp;
      <%= link_to 'Isp정보신규등록@', "/isps/#{@sel_store_id}/new", class: 'btn btn-default btn-sm' %>
      <%= link_to "자산명세표@", "/itassets/index/#{@sel_store_id}", class: 'btn btn-default btn-sm'  %> 
      <%= link_to "자산등록현황@", "/itassets/itaps/#{@sel_store_id}", class: 'btn btn-default  btn-sm'  %>     
    <% else %>
      <%= link_to "자산명세표", itassets_path, class: 'btn btn-default btn-sm'  %> 
      <%= link_to "자산등록현황", "/itassets/itaps/0", class: 'btn btn-default  btn-sm'  %>     
    <% end %>
    <%= link_to "매장/부서", stores_path, class: 'btn btn-default btn-sm' %>
    <%= link_to 'Home', '/', class: 'btn btn-default  btn-sm'%> 

</div>

<p><span class="bg-primary text-white">*** 회선정보 신규 등록 : Store 선택시 신규입력 가능 *** </span></p>
<p><span class="bg-primary text-white">*** 선택할 Store가 없으면 "매장/부서"클릭하고 Store를 선택하여 입력함 *** </span></p>

<table>
  <thead>
    <tr class="well">
      <th colspan="3"></th>
      <th class="col-md-2">Store</th>
      <th class="col-md-1">Telcom</th>
      <th class="col-md-1">Lineinfo</th>
      <th class="col-md-1">Date open</th>
      <th class="col-md-1">Term</th>
      <th class="col-md-1">Bandwidth</th>
      <th class="col-md-1">Purpose</th>
      <th class="col-md-1">Placetoinstall</th>
      <th class="col-md-1">Remarks</th>
    </tr>
  </thead>

  <tbody>
    <% @isps.each do |isp| %>
      <tr>
        <td><%= link_to 'Show', isp %></td>
        <td><%= link_to 'Edit', edit_isp_path(isp) %></td>
        <td><%= link_to 'Destroy', isp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to  isp.store.storename, "/isps/#{isp.store_id}/index" %> </td>
        <td class="col-md-1"><%= isp.telcom %></td>
        <td class="col-md-1"><%= isp.lineinfo %></td>
        <td class="col-md-1"><%= isp.date_open %></td>
        <td class="col-md-1"><%= isp.term %></td>
        <td class="col-md-1"><%= isp.bandwidth %></td>
        <td class="col-md-1"><%= isp.purpose %></td>
        <td class="col-md-1"><%= isp.placetoinstall %></td>
        <td class="col-md-1"><%= isp.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Isp정보신규등록', new_isp_path,class: 'btn btn-default btn-sm' %>
